@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

li {
    list-style-type: none;
}

p {
    color: #778899;
}

.purple {
    color: rgb(100 21 255);
}

.section__title {
    color: rgb(100 21 255);
    font-size: 14px;
    padding: 8px 0;
}

.sub-title {
    font-size: 48px;
    font-weight: bold;
    padding: 8px 0;
}

.ratings__container {
    display: flex;
}

/* 

NAV 

*/

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo--container {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.logo__img {
    width: 50px;
}

.nav-text__wrapper {
    padding-left: 16px;
}

.links__button--container {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
}

.nav-link {
    color: #252525;
    text-decoration: none;
    margin-left: 16px;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    
}

.nav-link:hover {
    color: rgb(100 21 255);
    text-decoration: underline;
    transition: 300ms;
}

.login {
    padding:  0 32px;
    
}

.button__wrapper {
    margin-right: 24px;
}

.sign-up {
    background-color: rgb(100 21 255);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 24px;
    border: none;
    border-radius: 16px;
}

.sign-up:hover {
    background-color: #522d80;
}

/* 

TESTIMONIALS 

*/

.testimonial__img--wrapper {
    padding: 0 24px;
    
}

.testimonial__img {
    width: 100%;
}

.testimonial__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial__description {
    width: 100%;
}

.ratings__container {
    padding: 24px 0;
}

.testimonial__rating {
    color: gold;
}

.testimonial__heading,
.user__name {
    color: #536878;
}

.user__img {
    width: 80px;
    border-radius: 50%;
}

.user__profile {
    display: flex;
    align-items: center;
    padding: 24px 0;
}

.user__info {
    padding: 0 24px;
}




/* FOOTER */

footer {
    background-color: rgb(100 21 255);
}

/* #links {
    background-color: rgb(100 21 255);
} */

.links__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.links__container {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 12px 24px 12px;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    padding: 16px;
}

.link__title {
    padding: 16px 0;
    font-size: 14px;
    color: white;
}

.category {
    padding: 4px;
}

.category:hover {
    text-decoration: underline;
    text-decoration-color: white;
    transition: 200ms;
}

.footer__info--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
}

.footer__logo--container {
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.footer__img--wrapper {
    padding-right: 12px;
}

.footer__img {
    width: 40px;
}

.logo__text {
    color: white;
}

.copyright-info {
    color: rgb(203 213 224);
    font-size: 12px;
}

.footer__social--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
}

.social__img--wrapper  {
    padding: 0 6px;
    margin: 8px 0;
    border-radius: 25px;
} 
