@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

li {
    list-style-type: none;
}

p {
    color: #778899;
    line-height: 1.5;
}

button {
    background-color: rgb(100 21 255);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 24px;
    border: none;
    border-radius: 16px;
}

button:hover {
    background-color: #522d80;
}

.purple {
    color: rgb(100 21 255);
}

.section__title {
    color: rgb(100 21 255);
    font-size: 14px;
    padding: 8px 0;
}

.sub-title {
    font-size: 48px;
    font-weight: bold;
    padding: 8px 0;
}

.ratings__container {
    display: flex;
}

/* 

NAV 

*/

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing__para {
    padding: 16px 0;
}


.nav__logo--container {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.logo__img {
    width: 50px;
}

.nav-text__wrapper {
    padding-left: 16px;
}

.links__button--container {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
}

.nav-link {
    color: #252525;
    text-decoration: none;
    margin-left: 16px;
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    
}

.nav-link:hover {
    color: rgb(100 21 255);
    text-decoration: underline;
    transition: 300ms;
}

.login {
    padding:  0 32px;
    
}

.button__wrapper {
    margin-right: 24px;
}

/* 

LANDING 

*/

.landing__container {
    display: flex;
    padding: 0 24px;
}

.landing__info {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    align-items: center;
}

.logostrip__wrapper {
    display: flex;
}

.logostrip__img {
    width: 100%;
}

.get-started__wrapper {
    border: solid;
    border-color: #77889983;
    border-width: 1px;
    border-radius: 25px;
    width: 100%;
    max-width: 325px;
}

.email__entry {
    padding: 8px;
    color: #77889983;
    border-color: #77889983;
    border-radius: 25px;
    margin: 8px;
}

.get-started__btn {
    background-color: rgb(100 21 255);
    color: white;
    font-size: 16px;
    border-style: none;
    border-radius: 25px;
    padding: 8px 16px;
}

.get-started__btn:hover {
    background: #522d80;
    transition: 300ms;
}

.landing__img--wrapper {
    padding-left: 32px;
}

.landing__img {
    width: 100%;
}

/* 

FEATURES 

*/

.features__container {
    padding: 80px;
}

.features__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.features__para {
    display: flex;
    align-items: center;
    color: #778899;
    padding: 16px;
    max-width: 600px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 32px;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 16px 32px;
}

.service__title {
    color: #778899;
    font-size: 24px;
}

.img__wrapper {
    padding: 16px;
    margin: 12px 0;
}


.service__description {
    display: flex;
    flex-direction: column;
}

.service__title {
    color: #252525;
    padding: 16px 0;
}

.service__para {
    line-height: 2;
    font-weight: bold;
}

/* 

QUALITY 

*/

.quality-work__container {
   display: flex; 
}

.quality__container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.btn__container {
    max-width: 160px;
    padding: 16px 0;
}

.quality__img--container {
    width: 50%;
}

.quality__img {
    width: 100%;
}

/* 

STEPS 

*/

.steps__container {
    display: flex;
}

.steps__img--container {
    width: 50%;
    padding: 32px 16px 0 16px;
}

.steps__img {
    width: 100%;
}

.steps__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.step {
    display: flex;
}

.step__number {
    padding: 8px 8px 8px 0;
    color: rgb(203 213 224);
    font-size: 40px;
    font-weight: bold;
}

.step__number--title {
    color: #252525;
    font-size: 24px;
    font-weight: 500;
    padding: 8px 0;
}

.step__instructions {
    width: 60%;
    padding: 0 16px;
}

/* 

VALUES 

*/

.values__container {
    display: flex;
}

.values__content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.values__para {
    padding: 16px 0;
}

.values__qualities {
    display: flex;
}

.quality__container {
    width: 75%;
}

.quality__heading {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.dollar-sign__icon {
    padding: 8px 13px;
    background-color: #addfad;
    color: #006400;
    border-radius: 25px;
}

.briefcase__icon {
    padding: 8px 10px;
    background-color: #f88479a6;
    color: #800000;
    border-radius: 25px;
}

.quality__name {
    padding: 0 16px;
    color: rgb(36 62 99);
    font-size: 24px;
    font-weight: 500;
}

.quality__description {
    color: #778899;
}

/* 

TESTIMONIALS 

*/

.testimonial__img--wrapper {
    padding: 0 24px;
    
}

.testimonial__img {
    width: 100%;
}

.testimonial__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial__description {
    width: 100%;
}

.ratings__container {
    padding: 24px 0;
}

.testimonial__rating {
    color: gold;
}

.testimonial__heading,
.user__name {
    color: #536878;
}

.user__img {
    width: 80px;
    border-radius: 50%;
}

.user__profile {
    display: flex;
    align-items: center;
    padding: 24px 0;
}

.user__info {
    padding: 0 24px;
}




/* FOOTER */

footer {
    background-color: rgb(100 21 255);
}

/* #links {
    background-color: rgb(100 21 255);
} */

.links__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.links__container {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 12px 24px 12px;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    padding: 16px;
}

.link__title {
    padding: 16px 0;
    font-size: 14px;
    color: white;
}

.category {
    padding: 4px;
}

.category:hover {
    text-decoration: underline;
    text-decoration-color: white;
    transition: 200ms;
}

.footer__info--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
}

.footer__logo--container {
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.footer__img--wrapper {
    padding-right: 12px;
}

.footer__img {
    width: 40px;
}

.logo__text {
    color: white;
}

.copyright-info {
    color: rgb(203 213 224);
    font-size: 12px;
}

.footer__social--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
}

.social__img--wrapper  {
    padding: 0 6px;
    margin: 8px 0;
    border-radius: 25px;
} 
