@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

li {
    list-style-type: none;
}

p {
    color: #778899;
    line-height: 1.5;
}

button {
    background-color: rgb(100 21 255);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 8px 24px;
    border: none;
    border-radius: 16px;
}

.purple {
    color: rgb(100 21 255);
}

.section__title {
    color: rgb(100 21 255);
    font-size: 14px;
    padding: 8px 0;
}

.sub-title {
    font-size: 48px;
    font-weight: bold;
    padding: 8px 0;
}

.ratings__container {
    display: flex;
}

/* 

NAV 

*/

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 32px;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing__para {
    padding: 16px 0;
}


.nav__logo--container {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.nav__logo--container:hover {
    color: rgb(100 21 255);
    text-decoration: underline;
    transition: 300ms;
}

.logo__img {
    width: 50px;
}

.nav-text {
    padding-left: 16px;
    font-size: 24px;
    font-weight: bold;
}

.links__button--container {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
}

.nav-link {
    color: #252525;
    text-decoration: none;
    margin-left: 8px;
    font-size: 14px;
    font-weight: bold;
    padding: 8px;
    
}

.nav-link:hover {
    color: rgb(100 21 255);
    text-decoration: underline;
    transition: 300ms;
}

.login {
    padding:  0 32px;
    
}

.button__wrapper {
    margin-right: 8px;
}

.non-pricing__btn:hover {
    background-color: #522d80;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #522d80;
    display: none;
}

.menu__backdrop {
    position: absolute;
    background-color: #252525;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
    background-color: white;
}

.menu__open {
    height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8px;
}

.menu__list {
    padding: 8px 0
}

.menu__link {
    color: #252525;
    font-size: 20px;
    font-weight: bold;
}

.menu__btn {
    color: white;
    border-radius: 25px;
}

.menu__link:hover {
    color: #522d80;
    text-decoration: underline;
    transition: 300ms;
}

.menu__btn:hover {
    color: white;
    text-decoration: none;
    transition: 300ms;
    cursor: pointer;
    background-color: #4c2882
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: #252525;
}

.button__wrapper {
    padding: 24px;
    margin-left: 24px;
}

/* 

LANDING 

*/

.landing__container {
    display: flex;
    padding: 0 24px;
}

.landing__info {
    display: flex;
    flex-direction: column;
    max-width: 40%;
    align-items: center;
}

.logostrip__wrapper {
    display: flex;
}

.logostrip__img {
    width: 100%;
}

.get-started__wrapper {
    border: solid;
    border-color: #77889983;
    border-width: 1px;
    border-radius: 25px;
    width: 100%;
    max-width: 325px;
}

.email__entry {
    padding: 8px;
    color: #77889983;
    border-color: #77889983;
    border-radius: 25px;
    margin: 8px;
}

.get-started__btn {
    background-color: rgb(100 21 255);
    color: white;
    font-size: 16px;
    border-style: none;
    border-radius: 25px;
    padding: 8px 16px;
}

.get-started__btn:hover {
    background: #522d80;
    transition: 300ms;
}

.landing__img--wrapper {
    padding-left: 32px;
}

.landing__img {
    width: 100%;
}

/* 

FEATURES 

*/

.features__container {
    padding: 80px;
}

.features__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.features__para {
    display: flex;
    align-items: center;
    color: #778899;
    padding: 16px;
    max-width: 600px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 16px 32px;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 16px 32px;
}

.service__title {
    color: #778899;
    font-size: 24px;
}

.img__wrapper {
    padding: 16px;
    margin: 12px 0;
}


.service__description {
    display: flex;
    flex-direction: column;
}

.service__title {
    color: #252525;
    padding: 16px 0;
}

.service__para {
    line-height: 2;
    font-weight: bold;
}

/* 

QUALITY 

*/

.quality-work__container {
   display: flex; 
}

.quality__container {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.btn__container {
    max-width: 160px;
    padding: 16px 0;
}

.quality__img--container {
    width: 50%;
}

.quality__img {
    width: 100%;
}

/* 

STEPS 

*/

.steps__container {
    display: flex;
}

.steps__img--container {
    width: 50%;
    padding: 32px 16px 0 16px;
}

.steps__img {
    width: 100%;
}

.steps__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.step {
    display: flex;
}

.step__number {
    padding: 8px 8px 8px 0;
    color: rgb(203 213 224);
    font-size: 40px;
    font-weight: bold;
}

.step__number--title {
    color: #252525;
    font-size: 24px;
    font-weight: 500;
    padding: 8px 0;
}

.step__instructions {
    width: 60%;
    padding: 0 16px;
}

/* 

VALUES 

*/

.values__container {
    display: flex;
}

.values__content {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.values__para {
    padding: 16px 0;
}

.values__qualities {
    display: flex;
}

.quality__container {
    width: 75%;
}

.quality__heading {
    display: flex;
    align-items: center;
    padding: 8px 0;
}

.dollar-sign__icon {
    padding: 8px 13px;
    background-color: #addfad;
    color: #006400;
    border-radius: 25px;
}

.briefcase__icon {
    padding: 8px 10px;
    background-color: #f88479a6;
    color: #800000;
    border-radius: 25px;
}

.quality__name {
    padding: 0 16px;
    color: rgb(36 62 99);
    font-size: 24px;
    font-weight: 500;
}

.quality__description {
    color: #778899;
}

/* 

PRICING 

*/

.pricing__container {
    align-items: center;
    justify-content: space-around;
}

.pricing__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricing__para {
    width: 50%;
    padding: 16px;
}

.plans {
    display: flex;
    flex-wrap: wrap;
}

.plan {
    width: calc(100% / 3);
    max-width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 16px;
}

.individual__gradient {
    height: 8px;
    width: 100%;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
}

.enterprise__gradient {
    height: 8px;
    width: 100%;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.plan__sub-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.plan__sub-container--individual {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 8px;
    border-color: #7788998c;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.plan__sub-container--enterprise {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 8px;
    border-color: #7788998c;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.business__plan {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    border-radius: 8px;
    padding: 8px 24px;
}

.plan__name {
    padding: 24px 0 8px 0;
    font-size: 24px;
}

.plan__cost {
    padding: 8px 0;
    font-size: 48px;
}

.plan__type {
    font-weight: bold;
}

.plan__type--business {
    font-weight: bold;
    color: white;
}

.target__demographic {
    padding: 16px 0;
    font-size: 20px;
    color: #252525;
}

.target__demographic--business {
    color: white;
}

.feature {
    padding: 8px 0;
    color: #536878;
    font-weight: bold;
}

.feature__business {
    color: white;
}

.pricing__button--wrapper {
    padding: 32px 0;
}

.pricing__btn {
    padding: 16px 48px;
    font-size: 16px;
    border-radius: 25px;
}

.pricing__btn:hover {
    cursor: pointer;
    transform: translateY(-2);
}

.pricing__btn--personal {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: white;
}

.pricing__btn--business {
    background: white;
    color: #522d80;
}   

.pricing__btn--enterprise {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

/* 

TESTIMONIALS 

*/

.testimonial__img--wrapper {
    padding: 0 8px;
    
}

.testimonial__img {
    width: 100%;
}

.testimonial__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testimonial__description {
    width: 100%;
    padding: 0 16px;
}

.ratings__container {
    padding: 24px 0;
}

.testimonial__rating {
    color: gold;
}

.testimonial__heading,
.user__name {
    color: #536878;
}

.user__img {
    width: 80px;
    border-radius: 50%;
}

.user__profile {
    display: flex;
    align-items: center;
    padding: 24px 0;
}

.user__info {
    padding: 0 24px;
}




/* FOOTER */

footer {
    background-color: rgb(100 21 255);
}

/* #links {
    background-color: rgb(100 21 255);
} */

.links__row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.links__container {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 12px 24px 12px;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
    padding: 16px;
}

.link__title {
    padding: 16px 0;
    font-size: 14px;
    color: white;
}

.category {
    padding: 4px;
}

.category:hover {
    text-decoration: underline;
    text-decoration-color: white;
    transition: 200ms;
}

.footer__info--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
}

.footer__logo--container {
    display: flex;
    align-items: center;
    padding: 0 24px;
}

.footer__img--wrapper {
    padding-right: 12px;
}

.footer__img {
    width: 40px;
}

.logo__text {
    color: white;
}

.copyright-info {
    color: rgb(203 213 224);
    font-size: 12px;
}

.footer__social--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
}

.social__img--wrapper  {
    padding: 0 6px;
    margin: 8px 0;
    border-radius: 25px;
} 

/* 

RESPONSIVENESS 

*/


@media (max-width: 925px) {
    .links__button--container {
        display: none;
    }

    .btn__menu {
        display: block;
    }

}

@media (max-width: 768px) {
    .landing__container {
        padding: 0 24px;
    }

    .sub-title {
        font-size: 32px;
    }

    .service {
        width: 50%;
        padding: 8px 16px;
    }

    .steps__container {
        flex-direction: column;
    }

    .values__qualities {
        flex-direction: column;
    }

    .plan {
        width: 100%;
    }
    
}   

    